@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navBtn {
    @apply h-6 hidden sm:inline-flex cursor-pointer hover:scale-125 transition-all duration-150 ease-out;
  }
  .navBtnMobile {
    @apply h-6 cursor-pointer hover:scale-125 transition-all duration-150 ease-out;
  }
  .navMenu {
    @apply h-6 inline-flex sm:hidden cursor-pointer hover:scale-125 transition-all duration-150 ease-out;
  }
  .notification {
    @apply rounded-full bg-red-600 text-xs h-5 p-[7px] animate-bounce -top-2 left-4 text-white absolute flex items-center justify-center;
  }
  .btn {
    @apply h-7 hover:scale-110 cursor-pointer transition-all duration-150 ease-out;
  }
}
